<%- include('header')%>
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
         
<div class="card" style="width: 18rem;">
  <img src="<%=user.profileImage%>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Name: <%=user.firstname%> <%=user.lastname%></h5>
    <h5 class="card-title">Email: <%=user.email%></h5>
    <h5 class="card-title">Gender: <%=user.gender%></h5>
    <h5 class="card-title"><%=user.contactNo%></h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
          
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <%- include('footer')%>